ipykernel

fastapi==0.121.1
pydantic==2.12.4
pydantic-settings==2.11.0
requests==2.32.5
uvicorn==0.38.0
streamlit
streamlit_option_menu

python-dotenv
pypdf
docx2txt
Pinecone

langchain==0.3.27
langchain-community==0.3.29
langchain-core==0.3.75
langchain-google-genai==2.1.10
langchain-groq==0.3.8
langchain-huggingface==0.3.1
langchain-text-splitters==0.3.11
langsmith==0.4.21